In [3]:
import pandas as pd
import numpy as np
import os

In [5]:
%pip install kagglehub

import kagglehub

# Download latest version
path = kagglehub.dataset_download("kmader/mias-mammography")

print("Path to dataset files:", path)

Collecting kagglehub
  Downloading kagglehub-0.2.9-py3-none-any.whl.metadata (21 kB)
Requirement already satisfied: packaging in c:\users\vikas\documents\projects\machine_learning_projects\venv\lib\site-packages (from kagglehub) (24.1)
Requirement already satisfied: requests in c:\users\vikas\documents\projects\machine_learning_projects\venv\lib\site-packages (from kagglehub) (2.32.3)
Collecting tqdm (from kagglehub)
  Using cached tqdm-4.67.1-py3-none-any.whl.metadata (57 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\vikas\documents\projects\machine_learning_projects\venv\lib\site-packages (from requests->kagglehub) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\vikas\documents\projects\machine_learning_projects\venv\lib\site-packages (from requests->kagglehub) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\vikas\documents\projects\machine_learning_projects\venv\lib\site-packages (from requests->kagglehub) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\vikas\documents\projects\machine_learning_projects\venv\lib\site-packages (from requests->kagglehub) (2024.6.2)
Requirement already satisfied: colorama in c:\users\vikas\documents\projects\machine_learning_projects\venv\lib\site-packages (from tqdm->kagglehub) (0.4.6)
Downloading kagglehub-0.2.9-py3-none-any.whl (39 kB)
Using cached tqdm-4.67.1-py3-none-any.whl (78 kB)
Installing collected packages: tqdm, kagglehub
Successfully installed kagglehub-0.2.9 tqdm-4.67.1
Note: you may need to restart the kernel to use updated packages.

  WARNING: The script tqdm.exe is installed in 'c:\Users\Vikas\Documents\Projects\machine_learning_projects\venv\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.5)
Downloading from https://www.kaggle.com/api/v1/datasets/download/kmader/mias-mammography?dataset_version_number=3...

100%|██████████| 312M/312M [05:07<00:00, 1.06MB/s]

Extracting model files...

Path to dataset files: C:\Users\Vikas\.cache\kagglehub\datasets\kmader\mias-mammography\versions\3

In [4]:

filepath = "C:\\Users\\Vikas\\.cache\\kagglehub\\datasets\\kmader\\mias-mammography\\versions\\3\\Info.txt"

column_names = [
    'Reference_Number', 'Background_Tissue', 'Abnormality_Class', 'Severity_Abnormality', 'X', 'Y', 'RADIUS' 
]
mias_df = pd.read_csv(filepath, sep=" ").drop('Unnamed: 7',axis=1)
mias_df.columns = column_names
mias_df

,Reference_Number,Background_Tissue,Abnormality_Class,Severity_Abnormality,X,Y,RADIUS
0,mdb001,G,CIRC,B,535.0,425.0,197.0
1,mdb002,G,CIRC,B,522.0,280.0,69.0
2,mdb003,D,NORM,NaN,NaN,NaN,NaN
3,mdb004,D,NORM,NaN,NaN,NaN,NaN
4,mdb005,F,CIRC,B,477.0,133.0,30.0
...,...,...,...,...,...,...,...
325,mdb318,D,NORM,NaN,NaN,NaN,NaN
326,mdb319,D,NORM,NaN,NaN,NaN,NaN
327,mdb320,D,NORM,NaN,NaN,NaN,NaN
328,mdb321,D,NORM,NaN,NaN,NaN,NaN
329,mdb322,D,NORM,NaN,NaN,NaN,NaN

In [5]:
# Replacing NaN
mias_df['Severity_Abnormality'] = mias_df['Severity_Abnormality'].fillna('N')
mias_df.drop_duplicates(subset='Reference_Number', inplace=True)
mias_df.set_index('Reference_Number', inplace=True)
mias_df

,Background_Tissue,Abnormality_Class,Severity_Abnormality,X,Y,RADIUS
Reference_Number,,,,,,
mdb001,G,CIRC,B,535.0,425.0,197.0
mdb002,G,CIRC,B,522.0,280.0,69.0
mdb003,D,NORM,N,NaN,NaN,NaN
mdb004,D,NORM,N,NaN,NaN,NaN
mdb005,F,CIRC,B,477.0,133.0,30.0
...,...,...,...,...,...,...
mdb318,D,NORM,N,NaN,NaN,NaN
mdb319,D,NORM,N,NaN,NaN,NaN
mdb320,D,NORM,N,NaN,NaN,NaN
mdb321,D,NORM,N,NaN,NaN,NaN
mdb322,D,NORM,N,NaN,NaN,NaN

In [11]:
mias_df

,Background_Tissue,Abnormality_Class,Severity_Abnormality,X,Y,RADIUS
Reference_Number,,,,,,
mdb001,G,CIRC,B,535.0,425.0,197.0
mdb002,G,CIRC,B,522.0,280.0,69.0
mdb003,D,NORM,N,NaN,NaN,NaN
mdb004,D,NORM,N,NaN,NaN,NaN
mdb005,F,CIRC,B,477.0,133.0,30.0
...,...,...,...,...,...,...
mdb318,D,NORM,N,NaN,NaN,NaN
mdb319,D,NORM,N,NaN,NaN,NaN
mdb320,D,NORM,N,NaN,NaN,NaN
mdb321,D,NORM,N,NaN,NaN,NaN
mdb322,D,NORM,N,NaN,NaN,NaN

In [12]:
# Setup of scan directory to take all images
scan_directory = "C:\\Users\\Vikas\\.cache\\kagglehub\\datasets\\kmader\\mias-mammography\\versions\\3\\all-mias"

In [13]:
scan_df = mias_df.copy()
scan_df['scan_path'] = scan_df.index.map(lambda x: os.path.join(scan_directory, f"{x}.pgm"))

scan_df.head()

,Background_Tissue,Abnormality_Class,Severity_Abnormality,X,Y,RADIUS,scan_path
Reference_Number,,,,,,,
mdb001,G,CIRC,B,535.0,425.0,197.0,C:\Users\Vikas\.cache\kagglehub\datasets\kmade...
mdb002,G,CIRC,B,522.0,280.0,69.0,C:\Users\Vikas\.cache\kagglehub\datasets\kmade...
mdb003,D,NORM,N,NaN,NaN,NaN,C:\Users\Vikas\.cache\kagglehub\datasets\kmade...
mdb004,D,NORM,N,NaN,NaN,NaN,C:\Users\Vikas\.cache\kagglehub\datasets\kmade...
mdb005,F,CIRC,B,477.0,133.0,30.0,C:\Users\Vikas\.cache\kagglehub\datasets\kmade...